JWT_SECRET=change-me-in-production

POSTGRES_PASSWORD=change-me

KAFKA_ADMIN_PASSWORD=change-me
KAFKA_IDENTITY_PASSWORD=change-me
KAFKA_PATIENT_PASSWORD=change-me

RABBITMQ_USER=change-me
RABBITMQ_PASSWORD=change-me

MINIO_ROOT_USER=change-me
MINIO_ROOT_PASSWORD=change-me

GRAFANA_ADMIN_PASSWORD=change-me